lib/flows/blink_gpio.json
[{"id":"6a159431.95ea6c","type":"function","name":"Toggle 0/1 on input","func":"\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"x":665,"y":245,"z":"459f6293.ba609c","wires":[["2da0d4d2.d25f2c","f36ce957.0c9318"]]},{"id":"2da0d4d2.d25f2c","type":"debug","name":"","active":true,"x":904,"y":305.0000009536743,"z":"459f6293.ba609c","wires":[]},{"id":"c734bdba.38cb4","type":"inject","name":"tick every 1 sec","topic":"","payload":"","repeat":"1","crontab":"","once":false,"x":464,"y":245.00000095367432,"z":"459f6293.ba609c","wires":[["6a159431.95ea6c"]]},{"id":"f36ce957.0c9318","type":"rpi-gpio out","name":"","pin":"11","x":901.8333625793457,"y":244.8333339691162,"z":"459f6293.ba609c","wires":[]}]