lib/flows/exmpl_websocket_getmap_coords.json
[{"id":"54651cc0.ab9ae4","type":"websocket-listener","path":"/ws/location","wholemsg":"false"},{"id":"77b75d14.80d3bc","type":"websocket out","name":"","server":"54651cc0.ab9ae4","x":711,"y":278,"z":"2d7b021a.149f66","wires":[]},{"id":"36747a28.c8c596","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\ncontext.global.location = msg.payload;\n\nreturn msg;","outputs":1,"x":472,"y":252,"z":"2d7b021a.149f66","wires":[["77b75d14.80d3bc"]]},{"id":"7b8bcdeb.6fd0fc","type":"template","name":"","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>Owntracks & Node-Red Live Map</title>\n  <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n  <script type=\"text/javascript\" src=\"http://maps.google.com/maps/api/js?sensor=true\"></script>\n  <script type=\"text/javascript\" src=\"http://yourjavascript.com/4594301102/gmaps.js\"></script>\n \n  <style type=\"text/css\" media=\"screen\">\n    #map {\n      position:absolute;\n      top: 0; bottom: 0; left: 0; right: 0;\n    }\n  </style>\n</head>\n<body>\n \n  <div id=\"map\"></div>\n  <script type=\"text/javascript\">\n    var server = window.location.hostname;\n    var socketaddy = \"ws://\"+server+\":1880/ws/location\";\n    var map;\n    var sock;\n    $(document).ready(function(){\n      \n      map = new GMaps({\n        div: '#map',\n        lat: -12.043333,\n        lng: -77.028333\n      });\n      \n      \n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){ console.log(\"Connected websocket\");\n\t      console.log(\"Sending ping..\");\n\t      sock.send(\"Ping!\");\n\t      console.log(\"Ping sent..\");\n      };\n      sock.onerror = function(){ console.log(\"Websocket error\"); };\n      sock.onmessage = function(evt){\n        var latlng = JSON.parse(evt.data);\n        var array = $.map(latlng, function(el) {\n  \t\t\treturn [[el.lat, el.lng]];\n\t\t\t});\n        \n        map.removeMarkers();\n        map.removePolylines();\n       \tconsole.log(\"Got marker at \" + latlng[0].lat + \", \" + latlng[0].lng, latlng);\n        map.setZoom(17);\n       \tmap.setCenter(latlng[0].lat, latlng[0].lng);\n        map.addMarkers(latlng);\n      \tmap.drawPolyline({\n\t\t  path: array,\n\t\t  strokeColor: '#131540',\n\t\t  strokeOpacity: 0.6,\n\t\t  strokeWeight: 6\n\t\t});\n      }\n    });\n  </script>\n</body>\n</html>","x":504,"y":389,"z":"2d7b021a.149f66","wires":[["a25db734.7a3e8"]]},{"id":"a25db734.7a3e8","type":"http response","name":"","x":688,"y":389,"z":"2d7b021a.149f66","wires":[]},{"id":"860c9f75.7faf88","type":"http in","name":"","url":"/map","method":"get","x":283,"y":394,"z":"2d7b021a.149f66","wires":[["7b8bcdeb.6fd0fc"]]},{"id":"c57fb7a7.841a98","type":"debug","name":"","active":true,"console":false,"complete":false,"x":548,"y":197,"z":"2d7b021a.149f66","wires":[]},{"id":"bce988d9.210d","type":"inject","name":"Array of Co-ords","topic":"","payload":"[{\"lat\":54.9619349,\"lng\":-1.6003813},{\"lat\":54.9656694,\"lng\":-1.5239833},{\"lat\":54.9696456,\"lng\":-1.5069755},{\"lat\":54.9378907,\"lng\":-1.5273729}]","payloadType":"string","repeat":"","crontab":"","once":false,"x":254,"y":201,"z":"2d7b021a.149f66","wires":[["36747a28.c8c596","c57fb7a7.841a98"]]},{"id":"ec48115f.4ec0d","type":"inject","name":"Single Co-ord","topic":"","payload":"[{\"lat\":54.9696456,\"lng\":-1.5069755}]","payloadType":"string","repeat":"","crontab":"","once":false,"x":244,"y":247,"z":"2d7b021a.149f66","wires":[["36747a28.c8c596"]]}]