lib/flows/FRED_weather.json
[{"id":"6ce905e3.9316fc","type":"pushbullet-config","name":"claudiuo"},{"id":"6fa76c05.905894","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"8516f4d9.7ae908","type":"openweathermap","name":"weather","lon":"","lat":"","city":"","country":"","x":462,"y":355,"z":"732c2bfa.8cd3d4","wires":[["5ab95652.a546a8"]]},{"id":"532395cf.acdc6c","type":"mqtt in","name":"owntracks mqtt","topic":"owntracks/co/b86d84f6344a350a","broker":"6fa76c05.905894","x":94,"y":48,"z":"732c2bfa.8cd3d4","wires":[["b816679c.47e998"]]},{"id":"baa1728f.455e9","type":"function","name":"store location global context","func":"var payload = JSON.parse(msg.payload);\n\nvar location = {};\nlocation.lat = payload.lat;\nlocation.lon = payload.lon;\n\ncontext.global.location = location;\n\nmsg.location = location;\nreturn msg;","outputs":1,"valid":true,"x":419,"y":217,"z":"732c2bfa.8cd3d4","wires":[[]]},{"id":"55e5a996.aa1a58","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":659,"y":194,"z":"732c2bfa.8cd3d4","wires":[]},{"id":"b816679c.47e998","type":"switch","name":"filter location messages","property":"payload","rules":[{"t":"cont","v":"\"location\""}],"checkall":"true","outputs":1,"x":232,"y":155,"z":"732c2bfa.8cd3d4","wires":[["baa1728f.455e9"]]},{"id":"484452d9.b7bbac","type":"inject","name":"default location","topic":"","payload":"{\"lat\": \"40.417018\", \"lon\": \"-111.89081\"}","payloadType":"string","repeat":"","crontab":"","once":true,"x":103,"y":247,"z":"732c2bfa.8cd3d4","wires":[["baa1728f.455e9"]]},{"id":"d7dd4573.2822b8","type":"inject","name":"forecast","topic":"weather_today","payload":"","payloadType":"string","repeat":"","crontab":"00 11 * * *","once":false,"x":106,"y":349,"z":"732c2bfa.8cd3d4","wires":[["42d75ae7.bd28a4"]]},{"id":"42d75ae7.bd28a4","type":"function","name":"get location from context","func":"msg.location = context.global.location;\n\nmsg.payload = \"lat=\" +context.global.location.lat + \"&lon=\" +context.global.location.lon;\nreturn msg;","outputs":1,"valid":true,"x":312,"y":310,"z":"732c2bfa.8cd3d4","wires":[["8516f4d9.7ae908"]]},{"id":"fe8a3f88.0175c","type":"pushbullet","config":"6ce905e3.9316fc","pushtype":"note","title":"","chan":"","name":"pushbullet","x":672,"y":277,"z":"732c2bfa.8cd3d4","wires":[]},{"id":"cbe7e0b.f34182","type":"comment","name":"time to run","info":"For some reason, setting the time for the \ninject node to 5:00 runs the flow at 11:00 pm\nmy time (not sure why, maybe 5:00 is GMT and\nserver time is 6 hours behind). That's why\nI set it to 11:00 so it runs at 5:00 in the\nmorning.\n","x":114,"y":390,"z":"732c2bfa.8cd3d4","wires":[]},{"id":"5ab95652.a546a8","type":"function","name":"format info","func":"var weather_info = msg.payload;\n\nmsg.topic = weather_info.weather || msg.topic;\n\nvar tempC = (weather_info.tempk - 273.15).toFixed(2);\nvar tempF = ((tempC * 1.8) + 32).toFixed(2);\n//var maxTempC = (weather_info.maxtemp - 273.15).toFixed(2);\n//var minTempC = (weather_info.mintemp - 273.15).toFixed(2);\n//var maxTempF = ((maxTempC * 1.8) + 32).toFixed(2);\n//var minTempF = ((minTempC * 1.8) + 32).toFixed(2);\n\nmsg.payload = weather_info.description;\nmsg.payload += '\\n' + \n//    'With a high of ' + maxTempF + ' [' + maxTempC + ' C] '+\n//    'and a low of ' + minTempF + 'F [' + minTempC + ' C]. ' +\n    'Currently, it\\'s ' + tempF + 'F [' + tempC + ' C] and ' +\n    weather_info.detail + '.';\nmsg.payload += '\\n' +\n    'Wind speed: ' + weather_info.windspeed + ' from ' +\n    weather_info.winddirection + ' direction';\nmsg.payload += '\\n' + 'Humidity: ' + weather_info.humidity;\n// it looks like the server is in Central time, I've seen this in another flow\n// so instead of -7 offset, use -6\nmsg.payload += '\\n' + 'Sunrise: ' + calcTime(weather_info.sunrise*1000, -6);\nmsg.payload += '\\n' + 'Sunset: ' + calcTime(weather_info.sunset*1000, -6);\nmsg.payload += '\\n' + 'Clouds: ' + weather_info.clouds;\nmsg.payload += '\\n\\n' + 'Location: ' + weather_info.location;\n\nreturn msg;\n\n\n// function to calculate local time\n// in a different city\n// given the city's UTC offset\nfunction calcTime(ts, offset) {\n    var options = {\n        weekday: \"long\", year: \"numeric\", month: \"short\",\n        day: \"numeric\", hour: \"2-digit\", minute: \"2-digit\"\n    };\n\n    // create new Date object for different city\n    // using supplied offset and UTC ts\n    nd = new Date(ts + (3600000*offset));\n\n    // return time as a string\n    return nd.toLocaleDateString(\"en-us\", options) + ' ' +\n        nd.toLocaleTimeString(\"en-us\", options);\n}","outputs":1,"valid":true,"x":613,"y":379,"z":"732c2bfa.8cd3d4","wires":[["55e5a996.aa1a58","fe8a3f88.0175c"]]},{"id":"c6964bc1.3969b8","type":"function","name":"to text","func":"var weather = JSON.parse(msg.payload);\nvar temps = weather['list'][0]['temp'];\nvar d = weather['list'][0]['weather'][0]['description'];\nvar desc = d[0].toUpperCase() + d.slice(1)\n\nvar min = temps['min'];\nvar max = temps['max'];\n\nmsg.topic = d || msg.topic;\nmsg.payload = desc + \" \" + min + \"°F - \" +max + \"°F \";\nreturn msg;","outputs":"1","valid":true,"x":599.26416015625,"y":89.44287109375,"z":"732c2bfa.8cd3d4","wires":[[]]},{"id":"fb172636.04e8d8","type":"http request","name":"forecast","method":"GET","ret":"txt","url":"http://api.openweathermap.org/data/2.5/forecast/daily?units=imperial&cnt=1&{{{payload}}}","x":477,"y":66,"z":"732c2bfa.8cd3d4","wires":[["c6964bc1.3969b8"]]},{"id":"160f0d0c.e9f0f3","type":"comment","name":"weather notes","info":"The openweathermap node only gives current weather info,\nmeaning min/max temps are the same as current. According\nto http://openweathermap.org/current second half of the\npage, this is normal and to get min/max for day need to\nuse forecast call.\n\nThe http node gives forecast but no current temp\nand min/max temps are off by a few degrees.\n\nFor now, I will stick with the actual node and\nignore the min/max (which I get in email from yahoo\nweather via IFTTT).\n\nShould try to use yahoo weather: more info. Maybe via\nIFTTT -> node-red, that would be cool.","x":471,"y":26,"z":"732c2bfa.8cd3d4","wires":[]},{"id":"2a8b0cad.d574f4","type":"openweathermap","name":"weather","lon":"","lat":"","city":"","country":"","x":467,"y":105,"z":"732c2bfa.8cd3d4","wires":[["73979e68.8c686"]]},{"id":"73979e68.8c686","type":"function","name":"format info","func":"var weather_info = msg.payload;\n\nmsg.topic = weather_info.weather || msg.topic;\n\nvar tempC = (weather_info.tempk - 273.15).toFixed(2);\nvar tempF = ((tempC * 1.8) + 32).toFixed(2);\n//var maxTempC = (weather_info.maxtemp - 273.15).toFixed(2);\n//var minTempC = (weather_info.mintemp - 273.15).toFixed(2);\n//var maxTempF = ((maxTempC * 1.8) + 32).toFixed(2);\n//var minTempF = ((minTempC * 1.8) + 32).toFixed(2);\n\nmsg.payload = weather_info.description;\nmsg.payload += '\\n' + \n//    'With a high of ' + maxTempF + ' [' + maxTempC + ' C] '+\n//    'and a low of ' + minTempF + 'F [' + minTempC + ' C]. ' +\n    'Currently, it\\'s ' + tempF + 'F [' + tempC + ' C] and ' +\n    weather_info.detail + '.';\nmsg.payload += '\\n' +\n    'Wind speed: ' + weather_info.windspeed + ' from ' +\n    weather_info.winddirection + ' direction';\nmsg.payload += '\\n' + 'Humidity: ' + weather_info.humidity;\n// it looks like the server is in Central time, I've seen this in another flow\n// so instead of -7 offset, use -6\nmsg.payload += '\\n' + 'Sunrise: ' + calcTime(weather_info.sunrise*1000, -6);\nmsg.payload += '\\n' + 'Sunset: ' + calcTime(weather_info.sunset*1000, -6);\nmsg.payload += '\\n' + 'Clouds: ' + weather_info.clouds;\nmsg.payload += '\\n\\n' + 'Location: ' + weather_info.location;\n\nreturn msg;\n\n\n// function to calculate local time\n// in a different city\n// given the city's UTC offset\nfunction calcTime(ts, offset) {\n    var options = {\n        weekday: \"long\", year: \"numeric\", month: \"short\",\n        day: \"numeric\", hour: \"2-digit\", minute: \"2-digit\"\n    };\n\n    // create new Date object for different city\n    // using supplied offset and UTC ts\n    nd = new Date(ts + (3600000*offset));\n\n    // return time as a string\n    return nd.toLocaleDateString(\"en-us\", options) + ' ' +\n        nd.toLocaleTimeString(\"en-us\", options);\n}","outputs":1,"valid":true,"x":616,"y":128,"z":"732c2bfa.8cd3d4","wires":[[]]}]