lib/flows/FRED_top_songs_itunes_v1.json
[{"id":"3c31dcc9.c3ce24","type":"debug","name":"","active":true,"console":"false","complete":"true","x":679,"y":247,"z":"a2683257.5d97d","wires":[]},{"id":"6fbcbad6.904344","type":"http request","name":"Top songs JSON","method":"GET","ret":"txt","url":"https://itunes.apple.com/us/rss/topsongs/limit={{num}}/{{payload}}/json","x":296,"y":199,"z":"a2683257.5d97d","wires":[["e81fc89e.17e038"]]},{"id":"e81fc89e.17e038","type":"function","name":"Store songs details","func":"var payload = [];\nvar content = JSON.parse(msg.payload);\nvar entries = content.feed.entry;\n\nfor (index = 0; index < entries.length; ++index) {\n  var pay = {};\n  var entry = entries[index]\n  pay.title = entry['im:name'].label;\n  pay.artist = entry['im:artist'].label;\n  pay.marker_song = 'song';\n  pay.marker_artist = 'artist';\n  payload[index] = pay;\n}\n\n// go through all songs and add marker for the ones I like\nvar songsILove = context.global.songsILove;\nfor (index = 0; index < payload.length; ++index) {\n  var song = payload[index];\n  markSongLoved(song);\n}\n\nfunction markSongLoved(song) {\n  songsILove.some(function (e) {\n    // if both artist and title match, marker is S (like Song)\n    // if only artist matches, marker is A (like Artist)\n    if (e.artist == song.artist) {\n      song.marker_song = 'lovedartist';\n      // don't return so we check the actual song\n    }\n    if (e.title == song.title && e.artist == song.artist) {\n      song.marker_song = 'lovedsong';\n      song.marker_artist = 'lovedsong';\n      return true;\n    }\n  });\n}\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"valid":true,"x":398,"y":258,"z":"a2683257.5d97d","wires":[["2616afd8.d9e95"]]},{"id":"5940700f.a6bf9","type":"http in","name":"","url":"/songs/:genre/:num","method":"get","x":121,"y":68,"z":"a2683257.5d97d","wires":[["11c3af3.fee3c51"]]},{"id":"195cd752.e6a329","type":"http response","name":"","x":718,"y":378,"z":"a2683257.5d97d","wires":[]},{"id":"2616afd8.d9e95","type":"template","name":"HTML template","field":"payload","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>Top 25 songs on iTunes - static</title>\n  <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n  <style>\n    .song {color:green;}\n    .artist {color:green;}\n    .lovedsong {color:blue;}\n    .lovedartist {color:red;}\n    .genre {text-decoration: underline;}\n  </style>\n</head>\n<body>\n\n<ol>\n{{#payload}}\n  <li class='{{marker_song}}'>{{title}} - <span class='{{marker_artist}}'>{{artist}}</span></li>\n{{/payload}}\n</ol>\n\n</body>\n</html>","x":537,"y":326,"z":"a2683257.5d97d","wires":[["195cd752.e6a329"]]},{"id":"a9e35bd.f561ca8","type":"function","name":"Songs and artists I like","func":"// save some songs in an array to mark them in the list later\n// if the title is * it means I love the artist but maybe I don't know the song\n// so I can use the page to see if there are songs I should listen to\nvar songsILove = [\n  {\"title\": \"I'd Rather Go Blind\", \"artist\": \"Joe Bonamassa & Beth Hart\"},\n  {\"title\": \"Dust Bowl\", \"artist\": \"Joe Bonamassa\"},\n  {\"title\": \"A Sunday Kind of Love\", \"artist\": \"Etta James\"},\n  {\"title\": \"Stormy Weather\", \"artist\": \"Etta James\"},\n  {\"title\": \"Boom Boom\", \"artist\": \"John Lee Hooker\"},\n  {\"title\": \"Ain't No Sunshine (feat. Tracy Chapman)\", \"artist\": \"Buddy Guy\"},\n  {\"title\": \"Mustang Sally\", \"artist\": \"Buddy Guy\"},\n  {\"title\": \"My Sidepiece (feat. Pokey & Major Clark Jr.)\", \"artist\": \"The Louisiana Blues Brothas\"},\n  {\"title\": \"The Thrill Is Gone (1969 Single Version)\", \"artist\": \"B.B. King\"},\n  {\"title\": \"Mannish Boy\", \"artist\": \"Muddy Waters\"},\n  {\"title\": \"You'll Never Leave Harlan Alive\", \"artist\": \"Ruby Friedman Orchestra\"},\n  {\"title\": \"Don't Worry Be Happy\", \"artist\": \"Bobby McFerrin\"},\n  {\"title\": \"Take Five\", \"artist\": \"Dave Brubeck\"},\n  {\"title\": \"I Put a Spell On You\", \"artist\": \"Nina Simone\"},\n  {\"title\": \"I Put a Spell On You\", \"artist\": \"Annie Lennox\"},\n  {\"title\": \"When The Saints Go Marching In\", \"artist\": \"Louis Armstrong\"},\n  {\"title\": \"Take Me to Church\", \"artist\": \"Hozier\"},\n  {\"title\": \"Chandelier\", \"artist\": \"Sia\"}\n]\n\ncontext.global.songsILove = songsILove;\n\nmsg.payload = songsILove;\nreturn msg;","outputs":1,"valid":true,"x":399,"y":474,"z":"a2683257.5d97d","wires":[["e34fbf52.1cb04"]]},{"id":"e34fbf52.1cb04","type":"debug","name":"","active":false,"console":"false","complete":"false","x":654,"y":509,"z":"a2683257.5d97d","wires":[]},{"id":"48ddb6f2.b72248","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":141,"y":517,"z":"a2683257.5d97d","wires":[["a9e35bd.f561ca8"]]},{"id":"c0693421.3f96c8","type":"comment","name":"ToDo","info":"- mark the changes in the list with arrows or N for new\nor something else","x":159,"y":558,"z":"a2683257.5d97d","wires":[]},{"id":"11c3af3.fee3c51","type":"function","name":"get params","func":"var req = msg.req;\nvar res = msg.res;\n\n// defaults: all genres, 25 songs\nvar payload = ''; // default for genre = all or unknown\nvar genre = \"all\";\nvar num = 25;\n\nif(req.params.genre == 'blues') {\n  payload = 'genre=2';\n  genre = 'blues';\n} else if(req.params.genre == 'jazz') {\n  payload = 'genre=11';\n  genre = 'jazz';\n} else if(req.params.genre != 'all') {\n  // to indicate we don't handle the genre passed in\n  genre = req.params.genre+\"->all\";\n}\n\nif(isNaN(req.params.num) || req.params.num < 0 || req.params.num > 100) {\n  num = 25;\n} else {\n  num = req.params.num;\n}\n\nmsg.num = num;\nmsg.genre = genre;\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"valid":true,"x":212,"y":141,"z":"a2683257.5d97d","wires":[["6fbcbad6.904344","3c31dcc9.c3ce24"]]}]