lib/flows/get_tweets_sentiment_drive_arduino_pins.json
[{"id":"837dbf50.7c824","type":"websocket-listener","path":"/ws/tweets","wholemsg":"false"},{"id":"7ef1b3bb.810e4c","type":"arduino-board","device":"/dev/ttyACM0"},{"id":"9ff2217e.600de","type":"twitter in","twitter":"","tags":"#UtahTechWeek","user":"false","name":"","topic":"tweets","x":119,"y":316,"z":"187b6d7b.e78493","wires":[["5695bd22.a96a44","a0fdaad4.5f0258","49b4794a.b64b88"]]},{"id":"a0fdaad4.5f0258","type":"debug","name":"debug","active":true,"console":"false","complete":"true","x":277,"y":117,"z":"187b6d7b.e78493","wires":[]},{"id":"6043cc2c.9fbc34","type":"sentiment","name":"","x":431,"y":241,"z":"187b6d7b.e78493","wires":[["fa5dbc3d.05a24"]]},{"id":"fa5dbc3d.05a24","type":"function","name":"sentiment","func":"var sentimentObj = msg.sentiment;\nvar sentimentScore = sentimentObj.score;\n\nvar newMsg = {};\nnewMsg.payload = sentimentScore;\n\nreturn newMsg;","outputs":1,"x":643,"y":348,"z":"187b6d7b.e78493","wires":[["3be3a09c.c41c6"]]},{"id":"e4ad455.f1b52b8","type":"arduino out","name":"","pin":"12","state":"OUTPUT","arduino":"7ef1b3bb.810e4c","x":1258,"y":178,"z":"187b6d7b.e78493","wires":[]},{"id":"3be3a09c.c41c6","type":"switch","name":"","property":"payload","rules":[{"t":"lt","v":0,"v2":null},{"t":"eq","v":0,"v2":null},{"t":"gt","v":0,"v2":null}],"checkall":"false","outputs":3,"x":906,"y":309,"z":"187b6d7b.e78493","wires":[["bbe0ac16.441f5"],["9dd94efd.6226b"],["19c7d599.e6382a"]]},{"id":"bbe0ac16.441f5","type":"function","name":"set payload 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"x":1082,"y":237,"z":"187b6d7b.e78493","wires":[["e4ad455.f1b52b8","62d5386c.9d2ac8"]]},{"id":"60924f9f.9f6db","type":"arduino out","name":"","pin":"12","state":"OUTPUT","arduino":"7ef1b3bb.810e4c","x":399,"y":638,"z":"187b6d7b.e78493","wires":[]},{"id":"49b4794a.b64b88","type":"function","name":"reset all pins","func":"msg.payload = 0;\nreturn msg;","outputs":1,"x":229,"y":466,"z":"187b6d7b.e78493","wires":[["60924f9f.9f6db","ea78ec9f.15871","c5ad7150.3a529","1ffecb87.e00134","bc0d0c4f.43f2f","f4218c44.0bde7"]]},{"id":"f4218c44.0bde7","type":"arduino out","name":"","pin":"11","state":"OUTPUT","arduino":"7ef1b3bb.810e4c","x":398,"y":595,"z":"187b6d7b.e78493","wires":[]},{"id":"bc0d0c4f.43f2f","type":"arduino out","name":"","pin":"10","state":"OUTPUT","arduino":"7ef1b3bb.810e4c","x":402,"y":556,"z":"187b6d7b.e78493","wires":[]},{"id":"1ffecb87.e00134","type":"arduino out","name":"","pin":"9","state":"OUTPUT","arduino":"7ef1b3bb.810e4c","x":402,"y":514,"z":"187b6d7b.e78493","wires":[]},{"id":"c5ad7150.3a529","type":"arduino out","name":"","pin":"8","state":"OUTPUT","arduino":"7ef1b3bb.810e4c","x":399,"y":468,"z":"187b6d7b.e78493","wires":[]},{"id":"ea78ec9f.15871","type":"arduino out","name":"","pin":"7","state":"OUTPUT","arduino":"7ef1b3bb.810e4c","x":399,"y":427,"z":"187b6d7b.e78493","wires":[]},{"id":"5695bd22.a96a44","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":296,"y":287,"z":"187b6d7b.e78493","wires":[["6043cc2c.9fbc34","22058fed.ddfa7"]]},{"id":"62d5386c.9d2ac8","type":"arduino out","name":"","pin":"11","state":"OUTPUT","arduino":"7ef1b3bb.810e4c","x":1255,"y":255,"z":"187b6d7b.e78493","wires":[]},{"id":"9dd94efd.6226b","type":"function","name":"set payload 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"x":1073,"y":333,"z":"187b6d7b.e78493","wires":[["216ad84f.de9528","165aa0e4.e9a55f"]]},{"id":"19c7d599.e6382a","type":"function","name":"set payload 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"x":1074,"y":417,"z":"187b6d7b.e78493","wires":[["776bb789.889448","f2c6b1f3.0d395"]]},{"id":"216ad84f.de9528","type":"arduino out","name":"","pin":"9","state":"OUTPUT","arduino":"7ef1b3bb.810e4c","x":1252,"y":310,"z":"187b6d7b.e78493","wires":[]},{"id":"165aa0e4.e9a55f","type":"arduino out","name":"","pin":"10","state":"OUTPUT","arduino":"7ef1b3bb.810e4c","x":1250,"y":368,"z":"187b6d7b.e78493","wires":[]},{"id":"776bb789.889448","type":"arduino out","name":"","pin":"7","state":"OUTPUT","arduino":"7ef1b3bb.810e4c","x":1248,"y":427,"z":"187b6d7b.e78493","wires":[]},{"id":"f2c6b1f3.0d395","type":"arduino out","name":"","pin":"8","state":"OUTPUT","arduino":"7ef1b3bb.810e4c","x":1244,"y":502,"z":"187b6d7b.e78493","wires":[]},{"id":"21020bc4.defdf4","type":"http in","name":"","url":"/UtahTechWeek","method":"get","x":227,"y":726,"z":"187b6d7b.e78493","wires":[["2ade2a5d.d521d6"]]},{"id":"2ade2a5d.d521d6","type":"template","name":"","field":"","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>UtahTechWeek tweets</title>\n  <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n  <script type=\"text/javascript\" src=\"http://maps.google.com/maps/api/js?sensor=true\"></script>\n  <script type=\"text/javascript\" src=\"http://yourjavascript.com/4594301102/gmaps.js\"></script>\n  <script src=\"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js\"></script>\n  <link href=\"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css\" rel=\"stylesheet\">\n  \n  <style type=\"text/css\" media=\"screen\">\n    #map {\n      position:absolute;\n      top: 0; bottom: 0; left: 0; right: 0;\n    }\n    #myTable td{\n    \tfont-size: 250%;\n    }\n  </style>\n</head>\n<body>\n\t<table class=\"table table-striped\" id=\"myTable\"><tr></tr></table>\n  <script type=\"text/javascript\">\n    var server = window.location.hostname;\n    var socketaddy = \"ws://\"+server+\":1880/ws/tweets\";\n    var map;\n    var sock;\n    $(document).ready(function(){\n      \n      sock = new WebSocket(socketaddy);\n      sock.onopen = function(){ console.log(\"Connected websocket\");\n\t      console.log(\"Sending ping..\");\n\t      sock.send(\"Ping!\");\n\t      console.log(\"Ping sent..\");\n      };\n      sock.onerror = function(){ console.log(\"Websocket error\"); };\n      sock.onmessage = function(evt){\n\t\tconsole.log(evt);\n        var text = evt.data;\n\t\t//console.log(text);\n\t\t//$('#map').innerHTML += text;\n\t\t$('#myTable > tbody:last').append('<tr><td>'+ text +'</td></tr>');\n      }\n    });\n  </script>\n</body>\n</html>","x":542,"y":730,"z":"187b6d7b.e78493","wires":[["d952b6c8.26ad48"]]},{"id":"d952b6c8.26ad48","type":"http response","name":"","x":833,"y":727,"z":"187b6d7b.e78493","wires":[]},{"id":"22058fed.ddfa7","type":"websocket out","name":"","server":"837dbf50.7c824","x":967,"y":565,"z":"187b6d7b.e78493","wires":[]}]