lib/flows/motion_sensor_play_mp3.json
[{"id":"36931b15.a1ef24","type":"rpi-gpio in","z":"b0a4a298.6b40c","name":"PIR","pin":"11","intype":"in","debounce":"25","read":false,"x":120,"y":43,"wires":[["a6f81a3f.303208"]]},{"id":"51c07525.681e4c","type":"debug","z":"b0a4a298.6b40c","name":"","active":true,"console":"false","complete":"false","x":582,"y":28,"wires":[]},{"id":"8d555a03.6f8e68","type":"random","z":"b0a4a298.6b40c","name":"","low":"1","high":"5","inte":"true","x":220,"y":286,"wires":[["efe6c36f.e00c7"]]},{"id":"a6f81a3f.303208","type":"switch","z":"b0a4a298.6b40c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":151,"y":150,"wires":[["8d555a03.6f8e68"]]},{"id":"efe6c36f.e00c7","type":"function","z":"b0a4a298.6b40c","name":"generate filename","func":"var val = msg.payload;\nvar filename = \"\";\n\nswitch (val) {\n  case 1:\n    filename = \"cat\";\n    break;\n  case 2:\n    filename = \"creaking\";\n    break;\n  case 3:\n    filename = \"raptor\";\n    break;\n  case 4:\n    filename = \"evil_laugh\";\n    break;\n  default:\n    filename = \"monster\";\n    break;\n}\nmsg.payload = \"~/.node-red/\"+filename+\".mp3\";\nreturn msg;","outputs":1,"noerr":0,"x":377,"y":145,"wires":[["97e0c314.43ba6"]]},{"id":"97e0c314.43ba6","type":"exec","z":"b0a4a298.6b40c","command":"omxplayer ","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":505,"y":251,"wires":[["51c07525.681e4c"],[],[]]}]