lib/flows/owntracks_coords_toarray_to_pushbullet_manually.json
[{"id":"6ce905e3.9316fc","type":"pushbullet-config","name":"claudiuo"},{"id":"6fa76c05.905894","type":"mqtt-broker","broker":"m11.cloudmqtt.com","port":"13471","clientid":""},{"id":"39768a57.c68976","type":"mqtt in","name":"owntracks mqtt","topic":"owntracks/#","broker":"6fa76c05.905894","x":106,"y":62,"z":"200c412a.dff3be","wires":[["ee979ce8.11686"]]},{"id":"fd85d271.027a3","type":"function","name":"store location global context","func":"var payload = JSON.parse(msg.payload);\n\nvar location = {};\nlocation.lat = payload.lat;\nlocation.lon = payload.lon;\nlocation.tst = payload.tst;\n\ncontext.global.locations.push(location);\n\nmsg.payload = context.global.locations;\nreturn msg;","outputs":1,"valid":true,"x":431,"y":231,"z":"200c412a.dff3be","wires":[[]]},{"id":"5cf42e62.a30bd","type":"debug","name":"","active":true,"console":"false","complete":"payload","x":671,"y":208,"z":"200c412a.dff3be","wires":[]},{"id":"ee979ce8.11686","type":"switch","name":"filter location messages","property":"payload","rules":[{"t":"cont","v":"\"location\""}],"checkall":"true","outputs":1,"x":244,"y":169,"z":"200c412a.dff3be","wires":[["fd85d271.027a3"]]},{"id":"e874f552.178b08","type":"inject","name":"default location","topic":"","payload":"{\"lat\": \"41.0\", \"lon\": \"-112.0\"}","payloadType":"string","repeat":"","crontab":"","once":true,"x":138,"y":313,"z":"200c412a.dff3be","wires":[["4278950d.bd876c"]]},{"id":"db7b1724.2484e8","type":"pushbullet","config":"6ce905e3.9316fc","pushtype":"note","title":"","chan":"","name":"pushbullet","x":684,"y":291,"z":"200c412a.dff3be","wires":[]},{"id":"30cd4827.cf32b8","type":"comment","name":"notes","info":"This flows gets coordinates from owntracks\napp and stores them in an array. The array\nis created by the default location node at\nstart time.","x":392,"y":57,"z":"200c412a.dff3be","wires":[]},{"id":"4278950d.bd876c","type":"function","name":"create global context locations","func":"// create global context array\ncontext.global.locations = new Array();\n\n// first location is the default one\nvar payload = JSON.parse(msg.payload);\nvar location = {};\nlocation.lat = payload.lat;\nlocation.lon = payload.lon;\n\ncontext.global.locations.push(location);\n\nreturn msg;","outputs":1,"valid":true,"x":375,"y":321,"z":"200c412a.dff3be","wires":[[]]},{"id":"6cfd9b08.930264","type":"inject","name":"util print locations","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":161,"y":396,"z":"200c412a.dff3be","wires":[["14ff6a5c.eb0096"]]},{"id":"14ff6a5c.eb0096","type":"function","name":"get locations from global context","func":"msg.payload = context.global.locations;\nreturn msg;","outputs":1,"valid":true,"x":423,"y":414,"z":"200c412a.dff3be","wires":[["5cf42e62.a30bd","db7b1724.2484e8"]]}]
