lib/flows/top_songs_itunes_ws_http_page.json
[{"id":"154beb3d.eab415","type":"websocket-listener","path":"/ws/songs","wholemsg":"false"},{"id":"3d7a593c.c285a6","type":"debug","name":"","active":true,"console":"false","complete":"true","x":752,"y":150,"z":"45d04c37.ba2fb4","wires":[]},{"id":"34b1849a.cb4e7c","type":"http request","name":"Top 25 songs JSON","method":"GET","url":"https://itunes.apple.com/us/rss/topsongs/limit=25/{{payload}}/json","x":371,"y":220,"z":"45d04c37.ba2fb4","wires":[["94c63c4d.6b39c"]]},{"id":"1f353580.e0caca","type":"inject","name":"repeat every hour","topic":"","payload":"","payloadType":"date","repeat":"1440","crontab":"","once":false,"x":118,"y":41,"z":"45d04c37.ba2fb4","wires":[[]]},{"id":"94c63c4d.6b39c","type":"function","name":"Store songs details","func":"var payload = [];\nvar content = JSON.parse(msg.payload);\nvar entries = content.feed.entry;\n\nfor (index = 0; index < entries.length; ++index) {\n  var pay = {};\n  var entry = entries[index]\n  pay.title = entry['im:name'].label;\n  pay.artist = entry['im:artist'].label;\n  payload[index] = pay;\n}\n\n// go through all songs and add marker for the ones I like\nvar songsILove = context.global.songsILove;\nfor (index = 0; index < payload.length; ++index) {\n  var song = payload[index];\n  markSongLoved(song);\n}\n\nfunction markSongLoved(song) {\n  songsILove.some(function (e) {\n    // if both artist and title match, marker is S (like Song)\n    // if only artist matches, marker is A (like Artist)\n    if (e.artist == song.artist) {\n      song.marker = 'A';\n      // don't return so we check the actual song\n    }\n    if (e.title == song.title && e.artist == song.artist) {\n      song.marker = 'S';\n      return true;\n    }\n  });\n}\n\n// last element in the array is the genre and last update time\nvar details = {};\ndetails.lastUpdate = content.feed.updated.label;\ndetails.genre = msg.topic;\npayload.push(details);\n\ncontext.global.songs = payload;\n\nmsg.payload = payload;\nreturn msg;","outputs":1,"x":579,"y":215,"z":"45d04c37.ba2fb4","wires":[["64bd3089.9b42d","3d7a593c.c285a6"]]},{"id":"51b929c3.ae46d8","type":"http in","name":"","url":"/songs","method":"get","x":94,"y":88,"z":"45d04c37.ba2fb4","wires":[["668cea3e.997314","1f98bde8.e06742"]]},{"id":"6f94f2ff.906b0c","type":"http response","name":"","x":690,"y":69,"z":"45d04c37.ba2fb4","wires":[]},{"id":"69dd3225.9622cc","type":"template","name":"HTML template","field":"payload","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>Top 25 songs on iTunes - static</title>\n  <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n</head>\n<body>\n\n<ol>\n{{#payload}}\n  <li>{{title}} - {{artist}}</li>\n{{/payload}}\n</ol>\n\n</body>\n</html>","x":437,"y":107,"z":"45d04c37.ba2fb4","wires":[[]]},{"id":"86d9ea40.792618","type":"websocket in","name":"","server":"154beb3d.eab415","x":352,"y":331,"z":"45d04c37.ba2fb4","wires":[["bc367c55.43c98"]]},{"id":"64bd3089.9b42d","type":"websocket out","name":"","server":"154beb3d.eab415","x":756,"y":312,"z":"45d04c37.ba2fb4","wires":[]},{"id":"bc367c55.43c98","type":"function","name":"Get songs details","func":"msg.payload = context.global.songs;\nreturn msg;","outputs":1,"x":538,"y":325,"z":"45d04c37.ba2fb4","wires":[["64bd3089.9b42d"]]},{"id":"668cea3e.997314","type":"template","name":"Live HTML template","field":"payload","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>Top 25 songs on iTunes - live</title>\n  <script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"></script>\n\n  <style>\n    .song {color:black;}\n    .artist {color:black;}\n    .lovedsong {color:blue;}\n    .lovedartist {color:red;}\n    .genre {text-decoration: underline;}\n  </style>\n</head>\n<body>\n \n  <table cellspacing=\"20\"><tr>\n    <td id=\"blues\">\n      <h3>Top 25 <span class=\"genre\">blues</span> songs on iTunes - <span class=\"updated\"></span></h3>\n      <div class=\"text\">\n        <ol class=\"song\"></ol>\n      </div>\n    </td>\n    <td id=\"jazz\">\n      <h3>Top 25 <span class=\"genre\">jazz</span> songs on iTunes - <span class=\"updated\"></span></h3>\n      <div class=\"text\">\n        <ol class=\"song\"></ol>\n      </div>\n    </td>\n    <td id=\"all\">\n      <h3>Top 25 <span class=\"genre\">all</span> songs on iTunes - <span class=\"updated\"></span></h3>\n      <div class=\"text\">\n        <ol class=\"song\"></ol>\n      </div>\n    </td>\n  </tr></table>\n  \n  <script type=\"text/javascript\">\n    var server = window.location.hostname;\n    var port = window.location.port;\n    var socketaddy = \"ws://\"+server+\":\"+port+\"/ws/songs\";\n    console.log(socketaddy);\n    var sock;\n    $(document).ready(function(){\n      \n      sock = new WebSocket(socketaddy);\n      sock.addEventListener('open', function(event) { onopen(event); });\n      sock.addEventListener('close', function(event) { onclose(event); });\n//      sock.addEventListener('connecting', function(event) { self.onconnecting(event); });\n      sock.addEventListener('message', function(event) { onmessage(event); });\n      sock.addEventListener('error', function(event) { onerror(event); });\n    });\n\n    function onopen(evt) {\n      console.log(\"Connected websocket\");\n      console.log(\"Sending ping..\");\n      sock.send(\"Ping!\");\n      console.log(\"Ping sent..\");\n\t};\n    function onclose(evt) {\n  \t  console.log(\"Websocket closed\"+new Date());\n      // if websocket gets closed for some reason, reopen it\n      sock = new WebSocket(socketaddy);\n      // reattach the handlers\n      sock.addEventListener('open', function(event) { onopen(event); });\n      sock.addEventListener('close', function(event) { onclose(event); });\n//      sock.addEventListener('connecting', function(event) { self.onconnecting(event); });\n      sock.addEventListener('message', function(event) { onmessage(event); });\n      sock.addEventListener('error', function(event) { onerror(event); });\n\t};\n    function onerror(evt) {\n      console.log(\"Websocket error\");\n\t};\n    function onmessage(evt) {\n      console.log(\"Got a message...\"+new Date());\n        \n      var songs = JSON.parse(evt.data);\n      if(songs == undefined || songs.length == 0) {\n      \treturn;\n      }\n      // last item in array contains genre and last updated\n      var details = songs[songs.length-1];\n      // use genre as the destination area to update;\n      // allowed values: blues, jazz, mainstream\n      var destCell = details.genre;\n\n      songs.pop();\n      var array = $.map(songs, function(el) {\n        return [[el.title, el.artist, el.marker]];\n      });\n\n\t  // make sure div is empty: this will update only the div\n\t  // receiving data now and leave the others untouched to show old data\n      $('#'+destCell+' .text ol').html(\"\");\n      // also update the time\n      $('#'+destCell+' .updated').text(details.lastUpdate);\n\n\t  jQuery.each( array, function( i, val ) {\n\t    var classArtist = \"artist\";\n\t    var classSong = \"song\";\n\t  \n        if(val[2] != 'undefined') {\n          if(val[2] == 'S') {\n            classSong = \"lovedsong\";\n            classArtist = \"lovedsong\";\n          }\n          if(val[2] == 'A') {\n            classArtist = \"lovedartist\";\n          }\n        }\n\t\tvar song = \"<li class='\" + classSong + \"'>\" +\n\t\t        \"<span class='\" + classArtist + \"'>\" + val[1] + \"</span>\" +\n\t\t\t\t\" - \" + val[0] + \"</li>\";\n\t\t$('#'+destCell+' .text ol').append(song);\n      });\n\t};\n  </script>\n</body>\n</html>","x":442,"y":52,"z":"45d04c37.ba2fb4","wires":[["6f94f2ff.906b0c"]]},{"id":"e3863990.1c79c8","type":"function","name":"Songs and artists I like","func":"// save some songs in an array to mark them in the list later\n// if the title is * it means I love the artist but maybe I don't know the song\n// so I can use the page to see if there are songs I should listen to\nvar songsILove = [\n  {\"title\": \"I'd Rather Go Blind\", \"artist\": \"Joe Bonamassa & Beth Hart\"},\n  {\"title\": \"Dust Bowl\", \"artist\": \"Joe Bonamassa\"},\n  {\"title\": \"A Sunday Kind of Love\", \"artist\": \"Etta James\"},\n  {\"title\": \"Stormy Weather\", \"artist\": \"Etta James\"},\n  {\"title\": \"Boom Boom\", \"artist\": \"John Lee Hooker\"},\n  {\"title\": \"Ain't No Sunshine (feat. Tracy Chapman)\", \"artist\": \"Buddy Guy\"},\n  {\"title\": \"Mustang Sally\", \"artist\": \"Buddy Guy\"},\n  {\"title\": \"My Sidepiece (feat. Pokey & Major Clark Jr.)\", \"artist\": \"The Louisiana Blues Brothas\"},\n  {\"title\": \"The Thrill Is Gone (1969 Single Version)\", \"artist\": \"B.B. King\"},\n  {\"title\": \"Mannish Boy\", \"artist\": \"Muddy Waters\"},\n  {\"title\": \"You'll Never Leave Harlan Alive\", \"artist\": \"Ruby Friedman Orchestra\"},\n  {\"title\": \"Don't Worry Be Happy\", \"artist\": \"Bobby McFerrin\"},\n  {\"title\": \"Take Five\", \"artist\": \"Dave Brubeck\"},\n  {\"title\": \"I Put a Spell On You\", \"artist\": \"Nina Simone\"},\n  {\"title\": \"I Put a Spell On You\", \"artist\": \"Annie Lennox\"},\n  {\"title\": \"When The Saints Go Marching In\", \"artist\": \"Louis Armstrong\"},\n  {\"title\": \"Take Me to Church\", \"artist\": \"Hozier\"},\n  {\"title\": \"Chandelier\", \"artist\": \"Sia\"}\n]\n\ncontext.global.songsILove = songsILove;\n\nmsg.payload = songsILove;\nreturn msg;","outputs":1,"x":380,"y":502,"z":"45d04c37.ba2fb4","wires":[["7c5d2033.83a2e"]]},{"id":"7c5d2033.83a2e","type":"debug","name":"","active":false,"console":"false","complete":"false","x":618,"y":490,"z":"45d04c37.ba2fb4","wires":[]},{"id":"29ad0564.d652fa","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":105,"y":498,"z":"45d04c37.ba2fb4","wires":[["e3863990.1c79c8"]]},{"id":"e83a882e.17c578","type":"delay","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":123,"y":251,"z":"45d04c37.ba2fb4","wires":[["53271141.acd8f"]]},{"id":"1f98bde8.e06742","type":"function","name":"blues","func":"msg.topic = \"blues\";\nmsg.payload = \"genre=2\";\nreturn msg;","outputs":1,"x":127,"y":192,"z":"45d04c37.ba2fb4","wires":[["e83a882e.17c578","34b1849a.cb4e7c"]]},{"id":"6158b0f9.9ea75","type":"function","name":"all","func":"msg.topic = \"all\";\nmsg.payload = \"\";\nreturn msg;","outputs":1,"x":126,"y":445,"z":"45d04c37.ba2fb4","wires":[["34b1849a.cb4e7c"]]},{"id":"53271141.acd8f","type":"function","name":"jazz","func":"msg.topic = \"jazz\";\nmsg.payload = \"genre=11\";\nreturn msg;","outputs":1,"x":124,"y":316,"z":"45d04c37.ba2fb4","wires":[["34b1849a.cb4e7c","6deb077e.9214f8"]]},{"id":"6deb077e.9214f8","type":"delay","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":125,"y":380,"z":"45d04c37.ba2fb4","wires":[["6158b0f9.9ea75"]]},{"id":"ea3afc6a.15c5","type":"comment","name":"ToDo","info":"- mark the changes in the list with arrows or N for new\nor something else","x":123,"y":539,"z":"45d04c37.ba2fb4","wires":[]}]